
<div class="user-images">

<% @posts.each do |post| %>
	<div class="wrapper">
		<img src= "https://res.cloudinary.com/dvaat1mxu/image/upload/v1557290829/<%= post[:image_id] %>.jpg">
	</div>
<% end %>

</div>