<li>
	<div class="avatar">
  	<% if user.avatar != nil %>
        	<img src="https://res.cloudinary.com/dvaat1mxu/image/upload/v1557478671/<%=user.avatar[:public_id] %>.jpg">
      	<% else %>
      		<%= image_tag 'default-avatar.png'%>
      	<% end %>
  </div>
  <%= link_to user.name, user, class: "link-deco" %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, class: "link-deco", method: :delete, data: { confirm: "You sure?" } %>
  <% end %>
</li>