<li>
	<div class="avatar">
  	<%= image_tag 'default-avatar.png', class: "avatar" %>
  </div>
  <%= link_to user.name, user, class: "link-deco" %>
  <% if current_user.admin? && !current_user?(user) %>
    | <%= link_to "delete", user, class: "link-deco", method: :delete,
                                  data: { confirm: "You sure?" } %>
  <% end %>
</li>