<h1>Instafeed home page</h1>

<% if user_signed_in? %>
<%= link_to 'log out', destroy_user_session_url, method: :delete %>

		<a href="<%= new_post_path %>">New Post</a>

      <h3>Post Feed</h3>
      <%= render 'posts/indexfeed' %>
    </div>
  </div>

<% else %>
<%= link_to 'log in', new_user_session_url %>
<% end %>