/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "font-awesome-sprockets";
 @import "font-awesome";
 @import "bootstrap";

body {
	background-color: rgb(250,250,250);
}

 .container{
  max-width: 1000px;
}

.navbar{
  border-bottom: 1px solid rgba(0,0,0,.0975);
  height: 70px;
}

ion-icon {
	font-size: 28px;
}

.insta-title {
	font-family: "Billabong";
	font-size: 2.2rem;
	padding-left: 8px;
}

.search {
  height: 38px;
}

#search-container {
  display: flex;
  flex-direction: column;
}

#search {
  width: 210px;
  max-height: 100%;
}

.search-icon-container {
  color: #999;
  display: inline-block;
  position: absolute;
  left: 12px;
  top: 5px;
  width: 215px;
  text-align: center;
  /*border: 1px solid;*/
}

.search-icon {
  font-size: 14px;
}

#results-container {
  width: 210px;
  max-height: 300px;
  flex-direction: column;
  overflow-x: hidden;
  overflow-y: auto;
  padding: 0;
  background: #fff;
  border: solid 1px #e6e6e6;
  border-radius: 3px;
  -webkit-box-shadow: 0 0 5px rgba(0,0,0,.0975);
  box-shadow: 0 0 5px rgba(0,0,0,.0975);
  padding-left: 10px;
  z-index: 1;
}

.result-link {
  border-bottom: solid 1px #efefef;
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 600;
  padding: 8px 14px;
}

.result-link:hover {
  text-decoration: none;
}

.user-section{
  a{
    padding: 0px 12px;
  }
  display: flex;
  align-items: center;
  height: 100%;
}

.insta-logo,
.insta-title,
.add-new-post,
.user-account,
.logout-link,
.login-link {
	color: inherit;
  text-decoration: none;
}

.insta-logo:hover,
.insta-title:hover,
.add-new-post:hover,
.user-account:hover,
.logout-link:hover,
.login-link:hover {
	color: inherit;
  text-decoration:none;
  cursor:pointer;
}

.search-form{
  input{
    font-size: 13px;
    text-align: center;
  }
}

.footer{
  font-size: 12px;
  padding-top: 30px;
  ul{
    padding-left: 0;
    > li{
      display: inline;
      padding-right: 15px;
      color: #003569;
    }
  }
  p{
    color: #999;
  }
}

.red-heart {
  color: red;
}

.clickedHeart:active {
	animation: exit .2s 0s ease-in-out 1 normal;
}

.clickedHeart {
	animation: entrance .1s 0s ease-in-out 1 normal;
}

@keyframes exit {
    0% {
        transform: scale(1.0);
    }
    100% {
        transform: scale(.9);
        opacity:.8;
    }
}

@keyframes entrance {
    0% {
        transform: scale(.9);
        opacity:.8;
    }
    100% {
        transform: scale(1.0);
    }
}


/* STRUCTURE */

.wrapper2 {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  min-height: 100%;
  padding: 20px;
}

#formContent {
  border-radius: 10px 10px 10px 10px;
  background: #fff;
  padding: 30px;
  width: 90%;
  max-width: 450px;
  margin-top: 50px;
  position: relative;
  padding: 0px;
  box-shadow: 0 30px 60px 0 rgba(0,0,0,0.15);
  text-align: center;
}

#formFooter {
  background-color: #f6f6f6;
  border-top: 1px solid #dce8f1;
  padding: 25px;
  text-align: center;
  border-radius: 0 0 10px 10px;
}

/* FORM TYPOGRAPHY*/

input[type=button], input[type=submit], input[type=reset]  {
  background-color: #007bff;
  border: none;
  color: white;
  padding: 10px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  text-transform: uppercase;
  font-size: 12px;
  border-radius: 5px 5px 5px 5px;
  margin: 5px 0px 10px 0px;
  transition: all 0.3s ease-in-out;
}

input[type=button]:hover, input[type=submit]:hover, input[type=reset]:hover  {
  background-color: #3395ff;
}

input[type=button]:active, input[type=submit]:active, input[type=reset]:active  {
  transform: scale(0.95);
}

/* ANIMATIONS */

/* Simple CSS3 Fade-in-down Animation */
.fadeInDown {
  animation-name: fadeInDown;
  animation-duration: 1s;
  animation-fill-mode: both;
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translate3d(0, -100%, 0);
  }
  100% {
    opacity: 1;
    transform: none;
  }
}

/* Simple CSS3 Fade-in Animation */
@keyframes fadeIn { from { opacity:0; } to { opacity:1; } }

.fadeIn {
  opacity:0;
  animation:fadeIn ease-in 1;
  animation-fill-mode:forwards;
  animation-duration:1s;
}

.fadeIn.first {
  animation-delay: 0.4s;
}

.fadeIn.second {
  animation-delay: 0.6s;
}

.fadeIn.third {
  animation-delay: 0.8s;
}

.fadeIn.fourth {
  animation-delay: 1s;
}

/* Simple CSS3 Fade-in Animation */
.underlineHover:after {
  display: block;
  left: 0;
  bottom: -10px;
  width: 0;
  height: 2px;
  background-color: #56baed;
  content: "";
  transition: width 0.2s;
}

.underlineHover:hover {
  color: #0d0d0d;
}

.underlineHover:hover:after{
  width: 100%;
}