.gravatar {
  float: left;
  margin-right: 10px;
}

.gravatar_edit {
  margin-top: 15px;
}

.avatar{
	object-fit: cover;
	width: 50px;
	height: 50px;
  margin: 10px 0px;
  border-radius: 50%;
  a {
    padding: 0;
  }
}

#userpage-title {
	margin-top: 20px;
}

#userpage-username {
	margin-top: 20px;
}

.avatar-follow img {
	margin-top: 20px;
	object-fit: cover;
	width: 200px;
	height: 200px;
	border-radius: 50%;
}

.link-deco {
	color: inherit;
  text-decoration: none;
}

.link-deco:hover {
	color: inherit;
  text-decoration:none;
  cursor:pointer;
}

.stats {
  overflow: auto;
  margin-top: 0;
  padding: 0;
  a {
    float: left;
    padding: 0 10px;
    &:first-child {
      padding-left: 0;
      border: 0;
    }
    &:hover {
      text-decoration: none;
      color: blue;
    }
  }
  strong {
    display: block;
  }
}

.user_avatars {
  overflow: auto;
  margin-top: 10px;
  .gravatar {
    margin: 1px 1px;
  }
  a {
    padding: 0;
  }
}

.users.follow {
  padding: 0;
}

.users {
  list-style: none;
  margin: 0;
  li {
    overflow: auto;
    padding: 10px 0;
    border-bottom: 1px solid black;
  }
}

.stat {

}