.phone {
	height: 100%;
	width: 80%;
	float: right;
	margin: 2px;
}

.instaclone-heading {
	font-family: "Billabong";
	font-size: 55px;
	margin: 15px auto;
}

.right-column {
	background: #fff;
	border: 1px solid #e6e6e6;
	width: 350px;
	margin: 10px;
	padding: 40px;
}

.info-index {
	font-weight: 600px;
	line-height: 20px;
	font-size: 17px;
	color: #999;
}

.signup-text {
	font-size: 1rem;
	font-weight: 400;
	margin: 1px 1px;
}

.btn-signup {
  text-decoration: none;
	color: #fff;
	display: inline-block;
	font-weight: 400;
	border: 1px solid transparent;
	padding: .2rem 6rem;
	line-height: 1.5;
  border-radius: 0.25rem;
  background-color: cadetblue;
  transition: color 0.15s ease-in-out,
		background-color 0.15s ease-in-out,
		border-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.btn-signup:hover {
	color: #fff;
	background-color: #7fb1b3;
  text-decoration: none;
  cursor:pointer;
}

.right-column-login {
	background: #fff;
	border: 1px solid #e6e6e6;
	width: 350px;
	margin: 10px;
	padding: 20px;
}

.login-text {
	margin: 1px;
	padding: 1px;
}

.btn-login {
	text-decoration: none;
}

.btn-login:hover {
	opacity: .6;
	text-decoration: none;
}

.app-store {
	margin-top: 1.5rem;
	margin-left: 1rem;
	padding: 2px 2px;
}

.ios {
	padding-right: 1rem;
}