.plus-thing {
	display: block;
	text-align: center;
	font-size: 30px;
}

.posts-index{
  margin: 10px 180px 10px;

  .post{
    border: 1px solid #efefef;
    margin: 30px 0;
    border-radius: 3px;

    .user{
      height: 60px;
      border-bottom: 1px solid #efefef;
      display: flex;
      align-items: center;
      
      .avatar{
        width: 34px;
        height: 34px;
        margin: 8px;

        img{
          width: 100%;
          height: 100%;
          border: 1px solid #efefef;
          border-radius: 50%;
        }
      }
      .username{
        color: #262626;
        font-size: 14px;
        font-weight: 600;
        padding-left: 5px;
        text-decoration: none;
      }
    }

    .main-image{
      width: 100%;
      border-bottom: 1px solid #f4f4f4;
    }
    .description{
      padding: 16px;
      padding-bottom: 0;
    }

    p {
      margin-bottom: .5rem;
    }

    .comments-container {
      max-height: 76px;
      overflow-y: scroll;
    }
  }
}

body {
	background-color:pink;
}